@media (max-width: 1199px) {
  .content .sec-lvl-4-mp .container-for-sides .sides-cont.you-take {
    padding-right: 20px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .left-s {
    padding-right: 40px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .tabs-menu-sides {
    padding: 13px; }

  .content .sec-lvl-5-mp .slider-last-ex .slide .wrapp-last .row-s .side .serv-desc {
    font-size: 12px; }

  .section-lvl-1-lk .for-flex-lk .left-side .for-wrapp-left-side .for-padd-wr .change-data .tel-block-chouse .tel-input-lk {
    font-size: 15px; } }
@media (max-width: 991px) {
  header .sec-lvl-2 .logo-and-tel .tel a {
    font-size: 14px;
    padding-left: 23px; }

  header .sec-lvl-2 .logo-and-tel img {
    max-width: 200px; }

  header .sec-lvl-2 .logo-and-tel .some-text p {
    font-size: 10px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .left-s {
    padding-right: 15px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .right-s {
    padding-left: 20px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get {
    padding: 7px 15px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .tabs-menu-sides {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .tabs-menu-sides span {
    margin-bottom: 10px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-tabs-take .one-payment-serv {
    padding: 7px 15px; }

  .content .sec-lvl-6-mp .adv {
    margin-bottom: 20px; }

  footer .sec-lvl-1-footer .flex-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  footer .sec-lvl-1-footer .flex-footer .side {
    width: auto; }

  footer .sec-lvl-1-footer .flex-footer .mid-links {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px; }

  .for-margin-sm {
    margin-bottom: 10px; }

  .change-rules .modal-dialog {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
    transform: none;
    margin: 20px auto;
    width: 290px; }

  .change-rules .for-scroll {
    padding: 15px; }

  .change-rules .for-scroll h6 {
    margin-bottom: 21px;
    font-size: 13px; }

  .change-rules .for-scroll p {
    text-align: justify;
    font-size: 12px; }

  .exchange-modal .modal-dialog {
    width: 290px;
    margin: 20px auto; }

  .modal .modal-dialog {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0; }

  .modal.in .modal-dialog {
    -webkit-transform: translate(0);
            transform: translate(0); }

  .exchange-modal .modal-dialog .head {
    padding: 35px 10px 15px 10px; }

  .exchange-modal .modal-dialog .head .first:before {
    display: none; }

  .exchange-modal .modal-dialog .head .first {
    font-size: 12px;
    margin-bottom: 10px; }

  .exchange-modal .modal-dialog .head .second {
    font-size: 10px;
    text-align: center; }

  .exchange-modal .modal-dialog .body-form {
    padding: 15px 10px; }

  .exchange-modal .modal-dialog .body-form .first {
    font-size: 12px; }

  .exchange-modal .modal-dialog .body-form .from-to {
    display: block; }

  .exchange-modal .modal-dialog .body-form .from-to .side:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .exchange-modal .modal-dialog .body-form .from-to .side:last-child img {
      margin-right: 10px;
      margin-left: 0; }

  .exchange-modal .modal-dialog .body-form .from-to .mid {
    padding: 15px 0; }
    .exchange-modal .modal-dialog .body-form .from-to .mid img {
      margin: 0 auto;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transform-origin: center;
              transform-origin: center; }

  .exchange-modal .modal-dialog .body-form .second {
    font-size: 9px; }

  .exchange-modal .modal-dialog .body-form .take-wr {
    padding-top: 0; }

  .exchange-modal .modal-dialog .body-form .take-wr .take-block {
    display: block; }

  .exchange-modal .modal-dialog .body-form .take-wr .big {
    margin-bottom: 10px; }

  .exchange-modal .modal-dialog .body-form .take-wr .take-block {
    margin-bottom: 0; }

  .exchange-modal .modal-dialog .body-form .take-wr .small {
    max-width: 100%; }

  .form-modal .modal-dialog {
    width: 290px;
    margin: 20px auto; }

  .form-modal .modal-dialog .buy_form_wrap form .for-flex .right-side {
    display: none; }

  .form-modal .modal-dialog .buy_form_wrap form .for-flex .left-side {
    width: 100%; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .right-s p span {
    display: block; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .my-app .flex-app .wrapp-last {
    width: 100%; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .my-app .flex-app .wrapp-last:nth-child(odd):before {
    display: none; }

  .section-lvl-1-lk .for-flex-lk .left-side {
    width: 35%; }

  .section-lvl-1-lk .for-flex-lk .right-side {
    width: 65%; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .converter-wr-tab .calc .for-max-w .flex-wr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .converter-wr-tab .calc .for-max-w .flex-wr .sidee:first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .converter-wr-tab .calc .for-max-w .flex-wr .sidee {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .converter-wr-tab .calc .for-max-w .flex-wr .mid-s {
    padding: 10px;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

  .section-lvl-1-lk .for-flex-lk .left-side .for-wrapp-left-side .nav-tabs li {
    font-size: 12px; } }
@media (max-width: 767px) {
  header .sec-lvl-2 .logo-and-tel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  header .sec-lvl-2 .logo-and-tel img {
    margin: 0 auto 10px auto; }

  header .sec-lvl-2 .logo-and-tel .some-text {
    width: 100%; }

  header .sec-lvl-2 .logo-and-tel .some-text p {
    text-align: center;
    margin-bottom: 5px; }

  header .sec-lvl-3 .glex-menu a,
  header .sec-lvl-3 .glex-menu span {
    padding: 15px 4px;
    font-size: 10px; }

  .content .sec-lvl-4-mp .container-for-sides {
    display: block; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont.you-take {
    width: 100%;
    padding: 0;
    margin-bottom: 20px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .tabs-menu-sides span {
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 0;
    padding: 3px 10px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .tabs-menu-sides {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0; }

  footer .sec-lvl-2-footer .flex-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont.you-get {
    width: 100%; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get:before {
    display: none; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .left-s {
    width: 100%;
    padding-bottom: 10px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .right-s {
    width: 100%;
    padding-left: 0; }

  .content .sec-lvl-5-mp .slider-last-ex .slide {
    padding: 8px; }

  footer .sec-lvl-1-footer .flex-footer .side .tel a {
    font-size: 13px; }

  footer .sec-lvl-2-footer .flex-footer .side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  footer .sec-lvl-2-footer .flex-footer .side .button-modal-foot {
    margin: auto; }

  footer .sec-lvl-2-footer .flex-footer .mid-side {
    margin: 0 auto 10px auto; }

  footer .sec-lvl-2-footer .flex-footer .side {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  footer .sec-lvl-2-footer .flex-footer .side a {
    margin-bottom: 10px; }

  .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .right-s p {
    text-align: center; }

  .sec-lvl-2-faq .head {
    font-size: 14px; }

  .sec-lvl-2-faq .faq-wr .one-faq .question {
    padding: 10px;
    font-size: 13px; }

  .sec-lvl-2-faq .faq-wr .one-faq .answer {
    padding: 10px 20px; }

  .sec-lvl-2-faq .faq-wr .one-faq .answer p {
    font-size: 12px;
    line-height: 18px; }

  .sec-lvl-2-faq .body-contact-wr {
    padding: 0 10px 10px 10px; }

  .sec-lvl-2-faq .body-contact-wr h4 {
    font-size: 12px; }

  .sec-lvl-2-faq .body-contact-wr p {
    font-size: 12px;
    line-height: 23px; }

  .sec-lvl-2-faq .body-contact-wr form .for-flex-form {
    display: block; }

  .sec-lvl-2-faq .body-contact-wr form .for-flex-form .left-side {
    width: 100%;
    margin-bottom: 23px;
    padding: 0; }

  .sec-lvl-2-faq .body-contact-wr form .for-flex-form .right-side {
    padding: 0;
    width: 100%; }

  .section-lvl-1-lk .for-flex-lk {
    display: block; }

  .section-lvl-1-lk .for-flex-lk .left-side {
    width: 100%;
    padding: 0;
    margin-bottom: 20px; }

  .section-lvl-1-lk .for-flex-lk .left-side .for-wrapp-left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

  .section-lvl-1-lk .for-flex-lk .left-side .for-wrapp-left-side .nav-tabs {
    width: 100%; }

  .section-lvl-1-lk .for-flex-lk .left-side .for-wrapp-left-side .for-padd-wr {
    width: 100%; }

  .section-lvl-1-lk .for-flex-lk .left-side .for-wrapp-left-side .for-padd-wr .change-data {
    margin-bottom: 20px; }

  .section-lvl-1-lk .for-flex-lk .left-side .for-wrapp-left-side .for-padd-wr .agreement-open {
    margin-bottom: 20px; }

  .section-lvl-1-lk .for-flex-lk .left-side .for-wrapp-left-side .nav-tabs {
    margin-bottom: 0;
    padding-top: 20px; }

  .section-lvl-1-lk .for-flex-lk .right-side {
    width: 100%;
    padding: 0; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content {
    padding: 20px 10px; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .my-app .flex-app .wrapp-last .row-s .side .serv-desc {
    font-size: 10px; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .converter-wr-tab .calc {
    padding: 30px 12px 40px 12px; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .change-password-tab form .for-flex .right-side {
    display: none; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .change-password-tab form .for-flex .left-side {
    width: 100%; }

  .section-lvl-1-lk .for-flex-lk .right-side .lk-content .tab-content .change-password-tab form .for-flex {
    margin-bottom: 0; } }

/*# sourceMappingURL=media.css.map */